#calculator {
	width: 370px;
	margin: 20px auto;
}

#calculator .line input[type=text] {
	width: 346px;
	display: block;
	text-align: right;
	border: 1px grey solid;
	padding: 2px 10px;
	margin: 0 1px;
}

#calculator .line #exp {
	border-bottom: none;
	font-size: 14px;
}

#calculator .line #bottom {
	border-top: none;
	font-size: 22px;
	font-family: verdana;
	margin-bottom: 5px;
}

#buttons .line input[type=button] {
	height: 60px;
	width: 70px;
	margin: 2px;
	font-size: 16px;
}

#buttons .line input.zero {
	height: 60px;
	width: 144px;
}

#buttons input.equal {
	width: 70px;
	height: 124px;
	float: right;
	margin: 2px;
	font-size: 16px;
}
.mouse-over-button {
	background: #8bc34a;
	color: white;
}
